/*adds the ability to use the Oasis font to the website*/
@font-face {
    font-family: Oasis;
    src: url(Oasis-BW0JV.ttf);
}

html {
	position: relative;
	min-height: 100%;
}

body {
	background-color: black;
}

/*======================================================================================
NAVBAR STYLING
======================================================================================*/

/*custom class to add on to the existing bootstrap classes for the navbar*/
.stitched_nav {
	background-color: black;
	border: white groove 2px;
}

/*styles the nav anchor items*/
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: white;
	font-family: Oasis;
	font-size: 16pt;
}

/*styles the Bootstrap dropdown menu that appears when you click one of the nav items*/
.stitched_dropdown {
	background-color: black;
	border: white groove 2px;
	border-radius: 0px;
}

.stitched_dropdown p {
	color: white;
	font-family: Oasis;
	font-size: 16pt;
}

.stitched_dropdown p:hover {
	color: black;
	background-color: lightgrey;
	font-family: Oasis;
	font-size: 16pt;
}

/*styles individual dropdown menu items*/
#navbarDropdown {
	color: white;
	font-family: Oasis;
	font-size: 16pt;
}

.form-inline .form-control {
	background-color: lightgrey;
	border: green 2px;
	border-radius: 2px;
	width: 500px;
}

.stitched_search_button {
	color: white;
	font-family: Oasis;
	font-size: 16pt;
}

/*======================================================================================
END OF NAVBAR STYLING
======================================================================================*/

/*======================================================================================
TOP OF PAGE STYLING
======================================================================================*/

/*container styling*/
.stitched_container {
	background-color: black;
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 100%;
}


/*styling for the logo*/
.jumbo_logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -32px;
	width: 1152px;
	height: 472px;
}

/*custom styling for h3 elements*/
.stitched_h3 {
	margin-top: -100px;
	margin-bottom: 50px;
    font-family: Oasis;
    color: darkgrey;
    font-size: 42pt;
}

/*======================================================================================
END OF TOP OF PAGE STYLING
======================================================================================*/

.stitched_text1 {
	font-family: Oasis;
	font-size: 16pt;
	color: white;
	margin-top: 4%;
	margin-bottom: 4%;
	margin-left: 4%;
	margin-right: 4%;
}

/*container styling*/
.stitched_container_footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: black;
	text-align: center;
	display: inline-block;
}

.stitched_text_footer {
	font-family: Oasis;
	font-size: 12pt;
	color: grey;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 1%;
	margin-right: 1%;
}

.stitched_row {
	display: flex;
	width: 100%;
}

.stitched_row:after {
	clear: both;
	content: "";
}

.stitched_column {
	width: 100%;
	float: left;
	border: white solid 2px;
}